*{
    margin : 0 auto;
    padding: 0 ;
}
:root{
    --orange--:#FF9B00;
    --yellow--:#FFE100;
    --dark_yellow--:#FFC900;
    --light_yellow--:#EBE389;
    --title_color--:#0037FF;
    --text_color--:#8991EB;
}

h1{
    background-color: var(--dark_yellow--);
    display:flex;
    justify-content: center;
    color: var(--title_color--);
}
.navbar{
    background-color: var(--dark_yellow--);
    display: flex;
    justify-content: space-around;
}
.navbar a{
    text-decoration: none;
    color: var(--title_color--);
}
.navbar a:hover{
    background-color: var(--light_yellow--);
    
}
.main{
    background-image: url(../img/sunny_outdoors.jpg);
}